<%= flash[:notice] %>

<div class = "container">
  <div class = "row">
    <div class = "col-md-3">
      <h2>User info</h2>
      <td><%= image_tag @book.user.get_profile_image, size: "100x100" %></td>
      <table class = "table">
        <tbody>
          <tr>
            <th><%= @book.user.name %></th>
          </tr>
          <tr>
            <th><%= @book.user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <button class = "btn btn-outline-secondary btn-block">
        <%= link_to edit_user_path(@user) do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
      </button>
      <%= render 'new_book', book: @books %>
    </div>
    <div class = "col-md-8 offset-md-1">
      <h2>Book details</h2>
      <table>
        <thead>
          <tr>
            <th colspan = "3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= image_tag @book.get_profile_image, size:"100x100" %><br/>
              <%= link_to user_path(@book.user) do %>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
              </td>
            <td><%= @book.body %></td>
            <% if user_signed_in? && current_user.id == @book.user_id %>
              <td><%= link_to "edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure？", class: "btn btn-sm btn-danger" %></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
